@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --primary-color: #011126;
    --second-color: #011C40;
    --third-color: #F2A0D5;
    --fourth-color: #F24987;
    --fifth-color: #F2506E;
    --gap: 30px;
    box-sizing: border-box;
    --clr-1: white;
    --clr-2: #F2A0D5;
    --clr-3: #F24987;
    --clr-4: #F2506E;
    --dar:  #242423
  
    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h5 {
    font-size: 4rem;
    text-transform: uppercase;
}

h6 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.intro {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;
    font-family: "Inter", "DM Sans", Arial, sans-serif;
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  .content {
    text-align: center;
  }

  .parallax-slider {
    position: relative;
  }
  
  .inicio-slider-wrapper {
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  .inicio .slide {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: inline-block;
    width: 100%;
    height: 45rem;
    flex-shrink: 0;
    transition: 0.9s ease-in-out transform;
    backface-visibility: hidden;
  }
  
  .slide-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
  }
   .slide-indicator ol {
      display: inline-block;
  }
  .inicio li {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }
  
  .slide-indicator li:hover {
    background: var(--fifth-color);
  }
  
  .slide-indicator li.active {
    background: var(--fifth-color);
  }
  
  .slide::before {
    content: "";
    display: inline-block;
    height: 50%;
  }
  
  .inicio-content {
    display: inline-block;
    min-width: 100%;
    max-height: 100%;
    min-height: 100vh;
    vertical-align: middle;
    white-space: normal;
    color: #fff;
    transform: translate(-5px);
  }
  
  .caption {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
    padding: 2rem;
    transition: 0.4s;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translatey(200%);
  }
  .caption h1 {
      font-size: 3rem;
      font-weight: 70rem;
    }
  
  
  .slide-active .caption {
    transform: translatey(0);
    opacity: 1;
  }

  .col-md-12 {
  display: flex;
  min-height: 35vh;
  justify-content: center;
  align-items: center;
  background-color: var(--fourth-color);
  }

  .col-md-12 h2{
  color: #011126;
  text-align: center;
  padding: 2rem 0;
  color: white;
  font-size: 2rem;
  font-weight: 30rem;
  text-transform: uppercase;
  }
  
  .inicio .home {
    min-height: 100vh;
    position: relative;
  }
  
  .slide1 {
    background: url("https://livedemo00.template-help.com/landing_61143/images/slide-03-1920x1000.jpg")
      center center;
  }
  
  .slide2 {
    background: url("https://livedemo00.template-help.com/landing_61143/images/slide-01-1920x1000.jpg")
      top center;
  }
  
  .slide3 {
    background: url("https://livedemo00.template-help.com/landing_61143/images/slide-02-1920x1000.jpg")
      top center;
  }

.main-content {
    min-width: 100vw;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;

}

.menu {
    background-color:rgb(242, 160, 213, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: var(--primary-color)
}

.menu ul {
    list-style: none;
    display: flex;

}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
}

.menu-content {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-spacing {
    height: 6.5rem;
}

.inicio-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 100vh;
    margin-left: 2rem;
}

.inicio-text-content, .inicio-img {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

}

.inicio-text-content h2{
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.inicio-img img {
    max-width: 100%;
    height: auto;
}

.servicos-section{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.servicos-section h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.intro-servicos-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    min-height: 50vh;
    min-width: 100vw;
    overflow: hidden;
    margin-left: 2rem;
}
.servicos-text-content, .img-services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.img-services img {
    width: 100%;
    height: auto;
  }

.c-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--gap);
    margin: 1rem;
    padding: var(--gap);
    position: relative;
    overflow: hidden;
}

.servicos-section ul{
  list-style-type: none;
}
 
.card-container {
    width: 36rem;
    height: 36rem;
    position: relative;
    border-radius: 1rem;
  }
  
  .card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, var(--fifth-color) 0%, var(--second-color) 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(2rem);
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
  
  .card .img-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    transition: scale 0.6s, rotate 0.6s, filter 1s;
  }
  
  .card .img-content svg {
    width: 5rem;
    height: 5rem;
    fill: #212121;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    gap: 1rem;
    color: #fff;
    padding: 2rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5rem);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 1rem;
    font-weight: 70rem;
    text-transform: uppercase;
  }

  .img-content h2 {
    font-size: 2rem;
    color: #fff;
  }

  .card .content p {
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 1.8rem; /* Reduzir o tamanho da fonte */
  
    }

  .card:hover .content {
    opacity: 2;
    transform: translateY(0);
  }
  
  .card:hover .img-content {
    scale: 2;
    rotate: 30deg;
    filter: blur(1rem);
  }

  .card:hover .img-content h2 {
    color: var(--primary-color);
  }
  
  .card:hover .img-content svg {
    fill: transparent;
  }

  @media (max-width:819px) {
    .c-services {
    grid-template-columns: 1fr;
    }
    .img-content h2 {
      font-size: 2rem;
      color: #fff;
    }
  
    .card .content p {
      max-width: 100%;
      overflow: hidden;
      word-wrap: break-word;
      font-size: 1.5rem; /* Reduzir o tamanho da fonte */
    
      }

      .card-container {
        width: 30rem;
        height: 30rem;
        position: relative;
        border-radius: 1rem;
      }
    
  }
  
  .portifolio-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);
    padding: var(--gap);
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color);
    min-height: 100vh;
    align-items: center;
    justify-content: center;

  }

  .portifolio-section h2 {
    color: #fff
  }
  
  .portifolio-section p {
    color: #fff
  }

  #carousel {
    position: relative;
    min-height: 36rem;
    min-width: 36rem;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }
  #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
  }
  #carousel div img {
    max-width: 40rem;
    transition: width 1s;
  }
  #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideLeft img {
    max-width: 20rem;
  }
  #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
  }
  #carousel div.hideRight img {
    max-width: 20rem;
  }
  #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.prev img {
    max-width: 30rem;
  }
  #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.prevLeftSecond img {
    max-width: 20rem;
  }
  #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
  }
  #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
  }
  #carousel div.next img {
    max-width: 30rem;
  }
  #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
  }
  #carousel div.nextRightSecond img {
    max-width: 20rem;
  }

  @media (max-width:819px) {
    .portifolio-section {
      grid-template-columns: 1fr;
    }
    #carousel {
      min-height: 18rem;
      min-width: 18rem;
    }
    #carousel div img {
      max-width: 20rem;
    }
  }
  
 .planos-section{
    padding: 0;
    margin: 0;
  }
  
  .planos-section {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #fff;
    color: #fff;
    font-weight: 40rem;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
  }
  
  .plano-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
    margin: 1rem;
    padding: var(--gap);
    position: relative;
    overflow: hidden;
    background-color: #fff;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .plano-title {
    position: relative;
    font-size: 5rem;
    font-weight: 60rem;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
  }
  
  .features {
    display: flex;
    min-width: 100%;
    margin-top: 6rem;
    flex-wrap: wrap;
  }
  .features:hover .feature {
    opacity: 0.5;
  }
  .features .feature {
    --features-per-row: 1;
    --total-margin-value: var(--feature-no-of-margins) * var(--features-per-row) *
      var(--feature-margin);
    position: relative;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    border-radius: 0.4rem;
    background-color: var(--clr-4);
    will-change: transform, opacity, filter;
    transform-style: preserve-3d;
    transform-origin: center center;
    transform: translate3d(0, 0, 0);
    filter: hue-rotate(0deg);
    opacity: 1;
    transition: 0.25s ease all;
  }

  .features .feature:hover {
    opacity: 1;
    transform: translate3d(0, -0.5rem, 0);
    -webkit-animation: 0.5s glow linear alternate infinite;
            animation: 0.5s glow linear alternate infinite;
  }
  .features .feature:hover .feature__header .feature__subtitle {
    color: #fff;
    -webkit-animation: 0.25s glow linear forwards infinite;
            animation: 0.25s glow linear forwards infinite;
  }
  .features .feature::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 0.4rem;
  }
  .features .feature::after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 1rem;
    left: 1rem;
    min-width: calc(100% - 2rem);
    min-height: calc(100% - 2rem);
    border-radius: 0.4rem;
    -webkit-backdrop-filter: blur(0.25rem);
            backdrop-filter: blur(0.25rem);
  }
  .features .feature .feature__header {
    display: flex;
    min-width: 100%;
    flex-direction: column;
  }
  .features .feature .feature__header .feature__badge {
    display: flex;
    min-height: 2rem;
    padding: 0 0.5rem;
    align-items: center;
    align-self: center;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    font-size: 1.5rem;
    font-weight: 60rem;
    color: #fff;
    line-height: 0;
  }

  .features .feature .feature__header .feature__subtitle {
    margin: 1rem 0;
    font-size: 4rem;
    font-weight: 50rem;
    text-align: center;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-stroke: 0.4rem transparent;
    color: var(--primary-color);
    will-change: color;
    transition: 0.25s ease all;
  }
  .features .feature .feature__header .feature__text.feature__text--faded {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 60rem;
    color: var(--primary-color);
  }
  .features .feature .feature__content {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    align-self: center;
  }
  .features .feature .feature__content .feature__text {
    display: flex;
    min-width: 100%;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 50rem;
    color: var(--primary-color);
  }
  .features .feature .feature__content .feature__text:last-of-type {
    margin-bottom: 0;
  }
  .features .feature .feature__content .feature__text .feature__icon {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    min-height: 2rem;
    margin-right: 0.5rem;
    fill: var(--primary-color);
  }

  @media (max-width:819px) {
    .plano-container {
    grid-template-columns: 1fr;
    }
    .features {
      display: flex;
      min-width: 100%;
      margin-top: 6rem;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  
  .contact-form-container {
    background: var(--primary-color);
  }
  
  .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1rem;
    background: var(--fourth-color);
    overflow: hidden;
  }

  .contact-header {
    color: white;
    transform: rotate(-90deg);

  }
  .contact-header h1 {
    font-size: 3rem;
  }
  
  .social-bar {
    position: absolute;
    bottom: 2rem;
    left: 7.5rem;
    z-index: 1;
    min-width: 10rem;
  }
  .social-bar ul {
    list-style-type: none;
  }
  .social-bar ul li {
    display: inline-block;
    color: white;
    min-width: 2.5rem;
    min-height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-right: --0.4rem;
    font-size: 1.2rem;
  }
  
  .header {
    text-align: center;
    padding: 2rem 0;
    color: white;
  }
  .header h1 {
    font-weight: normal;
  }
  .header h2 {
    margin-top: 1rem;
    font-weight: 30rem;
  }
  
  .address, .email, .phone {
    text-align: center;
    padding: 2rem 0;
    color: white;
  }
  .address h3, .email h3, .phone h3 {
    font-size: 2rem;
    font-weight: 30rem;
  }
  
  form {
    position: relative;
    min-width: 50%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  form input, form textarea {
    background: #fff;
    display: block;
    margin: 4rem auto;
    min-width: 100%;
    border: 0;
  }
  form input {
    min-height: 10rem;
    line-height: 10rem;
    outline: 0;
    border-bottom: 0.01rem solid var(--primary-color);
    font-size: 2rem;
    color: var(--primary-color);
  }
  form textarea {
    border-bottom: 0.01rem solid rgba(68, 68, 68, 0.3);
    resize: none;
    outline: none;
    font-size: 2rem;
    font-family: lato;
    color: rgba(68, 68, 68, 0.8);
  }
  form button {
    min-height: 4rem;
    min-width: 25rem;
    left: 9.5rem;
    border: 0;
    border-radius: 2rem;
    bottom: -2rem;
    background: var(--fifth-color);
    color: white;
    font-size: 1.1rem;
    font-weight: 3rem;
    outline: none;
  }
  
  .contact-form {
    padding-bottom: 4rem;
  }
  
  /* Layout Stuff */
  .contacto-section {
    background-color: var(--primary-color);
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
  .contact-form-container {
    min-width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.6fr 0.6fr;
    grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
  }
  
  .contact-us {
    grid-area: contact-us;
  }
  
  .header {
    grid-area: header;
  }
  
  .address {
    grid-area: address;
  }
  
  .phone {
    grid-area: phone;
  }
  
  .email {
    grid-area: email;
  }
  
  .contact-form {
    grid-area: contact-form;
  }


  @media (max-width:819px) {
    .contact-form-container {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
    }
    .contact-header {
      color: white;
      transform: rotate(360deg);
    }
    .contact-us {
      align-items: left;
      justify-content: l;

    }
  }